.title {
	margin-top: 30px;
}


h1 {
	font-style: oblique;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#searchBar {
	width: 250px;
	border-radius: 10px;
}

.input {
	left: 925px;
}

.button {
	left: 925px;
	margin-bottom: 10px;
}

#food {
	background-color: rgb(47, 250, 206);
	padding-bottom: 1.5rem;
}

#nearby {
	margin-top: 2rem;

}

#recipe-img {
	height: auto;
width: 500px
}
	